PROJECT_NAME=stock_pred_prod_warehouse
ENVIRONMENT=dev

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=stock_pred
POSTGRES_USER=stock_user
POSTGRES_PASSWORD=change_me

AIRFLOW_HOME=./airflow

DEFAULT_SYMBOLS=SPY,QQQ,NVDA,AAPL,MSFT
DEFAULT_INTERVAL=1d
TIMEZONE=America/Los_Angeles
